.root{
    -fx-background-image: url("startWindowBackground.jpg");
    -fx-font-size: 48px;
    -fx-font-family: "Consolas";
}

#titleLabel{
    -fx-font-size: 124px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0), 12, 0.9, 0.0, 0.0);
    -fx-font-weight: bold;
}

.button{
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-background-color: black;
    -fx-font-weight: bold;
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-background-radius: 15px;
    -fx-border-radius: 10px;
}

.button:hover{
    -fx-background-color: rgba(20, 20, 20);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}