#logo{


    -fx-background-image: url("img/logo.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;
}

.menuButton{

    -fx-background-image: url("img/button.png");
    -fx-background-color: rgba(170, 255, 0, 0);
    -fx-background-repeat: stretch;
    -fx-background-size: 100% auto;
    -fx-background-position: center center;

    -fx-font-size: 40px;
    -fx-text-alignment: center;
    -fx-font-family: "Snap ITC";
    -fx-text-fill: #c48200;

}
.menuButton:hover{
    /*-fx-background-color: rgba(20, 20, 20);*/
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.menuFIeld{
    -fx-background-color: rgba(170, 255, 0, 0.12);
    -fx-max-height: 100px;
}
.menuContainer{
    -fx-font-size: 26px;
    -fx-text-alignment: center;
    -fx-font-family: "Snap ITC";

    -fx-background-color: rgba(77, 30, 1, 0.8);
    -fx-background-radius: 20px;

    -fx-border-color: rgb(47, 30, 0, 0.9);
    -fx-border-radius: 20px;
    -fx-border-style: solid;
    -fx-border-width: 4px;

    -fx-min-width: 400px;
    -fx-padding: 50px;
}

.button:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
    -fx-cursor: hand;
}