.floor {
    -fx-background-repeat: stretch;
    -fx-background-size: auto 100%;
    -fx-background-position: center center;
}

#floor_0 {
    -fx-background-image: url("img/tree/0.png");
}

#floor_1 {
    -fx-background-image: url("img/tree/1.png");
}

#floor_2 {
    -fx-background-image: url("img/tree/2.png");
}

#floor_3 {
    -fx-background-image: url("img/tree/3.png");
}

#floor_4 {
    -fx-background-image: url("img/tree/4.png");
}

#floor_5 {
    -fx-background-image: url("img/tree/3.png");
}

.playerPane {
    -fx-background-repeat: stretch;
    -fx-background-size: 95% auto;
    -fx-background-position: left bottom;
}
.playerLeft{
    -fx-background-image: url("img/characters/character_1_left.png");
}
.playerRight{
    -fx-background-image: url("img/characters/character_1_right.png");
}


.branch {
    -fx-background-repeat: stretch;
    -fx-background-size: 80% 100%;
    -fx-max-width: 800px;
    -fx-background-position: center center;
}

.branchEmpty {
    /* make it transparent after debugging */
    -fx-background-color: rgba(12, 12, 14, 0);
}

.branchLeft {
    -fx-background-image: url("img/tree/left_0.png");
}

.branchRight {
    -fx-background-image: url("img/tree/right_0.png");
}

#sign {
    -fx-background-repeat: stretch;
    -fx-background-size: 100% auto;
    -fx-max-width: 250px;
    -fx-background-position: center top;
    -fx-background-image: url("img/sign.png");
}

.left {
    -fx-background-color: rgba(12,12,250,0);
}
.right {
    -fx-background-color: rgba(250,0,0,0);
}
